::selection {
	background: black;
	color: white;
}
::-moz-selection {
	background: black;
	color: white;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body {
	width: 170mm;
	margin: 10mm auto 20mm auto;
	font-family: 'LM Roman 12';
	font-size: 12pt;
	line-height: 1.5;
}
p, table {
	margin: 0.5em 0;
}
header {
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.13em;
}
header span {
	letter-spacing: 0;
}
h1, h2, h3, h4 {
	margin-top: 0.5em;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1em;
	font-style: italic;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 2em;
}
pre, code {
	font-family: 'LM Mono 10';
	font-size: 10pt;
}
pre {
	background: #e0e0e0;
	padding: 0.5em;
}
a {
	color: black;
}
i, i * {
	font-style: italic;
}
ul, ol, dl {
	margin: 0.5em 0 0.5em 2em;
}
ul ul, ul ol, ul dl,
ol ul, ol ol, ol dl,
dl ul, dl ol, dl dl {
	margin: 0 0 0 2em;
}
ul {
	list-style: disc outside none;
}
ol {
	list-style: decimal outside none;
}
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}
blockquote {
	margin: 1em 1em 1em 4em;
}
blockquote:before {
	content: '“';
	display: block;
	float: left;
	margin: -0.25em 0 0 -1em;
	font-size: 4em;
	color: #808080;
}
nav {
	text-align: center;
	font-family: 'LM Mono 10';
	font-size: 15pt;
	color: #808080;
}
nav a {
	color: black;
}
.post_date {
	float: right;
	margin: 2em 0 1em 2em;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}
.post_date .date {
	font-size: 2em;
}
.post_image {
	max-width: 30%;
	margin: 1em;
	vertical-align: middle;
}
