@font-face {
	font-family: 'CMU Serif';
	src: url(../fonts/cmunrm.woff);
}
@font-face {
	font-family: 'CMU Serif';
	font-style: italic;
	src: url(../fonts/cmunti.woff);
}
@font-face {
	font-family: 'CMU Typewriter Text';
	src: url(../fonts/cmuntt.woff);
}
