@mixin font($path, $family, $weight: normal, $style: normal, $range...) {
    @font-face {
        font: {
            display: fallback;
            family: $family;
            weight: $weight;
            style: $style;
        }
        @if length($range) > 0 {
            unicode-range: $range;
        }
        src: url($path);
    }
}

:lang(ckb) {
	font-family: 'Noto Naskh Arabic';
}
