html
    --inner-width: calc(100vw - #{$outer-width - $inner-width})

@media (min-width: #{$outer-width})
    html
        --inner-width: #{$inner-width}
    header
        font-size: 4em

pre, code
    font-family: Inconsolata, monospace, monospace
    font-size: 0.75em
    font-style: normal !important

pre
    background: #e0e0e0
    padding: 0.5em
    line-height: 1.25

pre code
    font-size: 1em

article
    word-wrap: break-word

    pre
        word-wrap: normal

figure
    margin: 0.5em 0

    > div.scroll
        /* horizontal scroll */
        overflow-x: auto

        > *
            margin: 0 auto

        >
            img, picture, picture *
                display: block
                width: min-content

        // &.flex
        //     display: flex
        //     flex-flow: row wrap

        //     // iOS doesn’t support this
        //     // column-gap: 1em

        //     // iOS still lies and claims to support?
        //     justify-content: space-between
        //     @supports (justify-content: safe center)
        //         justify-content: safe center

        //     > *
        //         margin: 0

        > div.flex
            width: max-content
            display: flex
            flex-flow: row wrap
            justify-content: start

            > *
                margin: 0

            // iOS only supports gap in flexbox since 14.5
            > div.gap
                width: 1em
                height: 1em

            &.row_bag, &.column_bag
                align-items: center

            &.row_bag
                flex-direction: row

            &.column_bag
                flex-direction: column

        > pre,
        > div.highlighter-rouge,
        > div.highlighter-rouge > div.highlight,
        > div.highlighter-rouge > div.highlight > pre,
            /* extend background */
            width: min-content

    > figcaption
        font-size: 0.75em
        text-align: center

.fleft
    float: left
    margin: 1em
    margin-left: 0

.flight
    float: right
    margin: 1em
    margin-right: 0
