<!doctype html>
<html lang="en">
    <!-- {% if page._class %} ... {% endif %} -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="preload" as="style" href="/asset/all.css">
        <link rel="stylesheet" href="/asset/all.css">
        <link rel="stylesheet" href="/asset/print.css" media="print">
        <title></title>
        <link rel="preload" as="font" crossorigin href="/asset/-cmunrm.woff2">
        <link rel="preload" as="font" crossorigin href="/asset/-cmuntt.woff2">
        <link rel="preload" as="font" crossorigin href="/asset/-cmunti.woff2">
        <link rel="alternate" type="application/atom+xml" href="/feed/tag/home.xml">
        <!-- {% if page.date -%} ... {%- endif %} -->
    </head>
    <body>
        <header>Delan Azaban<span>i</span></header>
        <nav>
            <a href="/">~/</a> :
            <a href="/about/">~/about/</a> :
            <a href="/labs/">~/labs/</a> :
            <a href="/talks/">~/talks/</a> :
            <a href="/birds/">~/birds/</a>
        </nav>
        <!-- {% if page.title %} ... {% endif %} -->
        <!-- {% if page.date %} ... {% endif %} -->
        <article></article>
        <footer>
        <!-- {% if page._footer_twitter %} ... {% endif %} -->
        </footer>
    </body>
</html>
