<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			{% if page.title != %}
				{{ page.title }} |
			{% endif %}
			Delan Azabani
		</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<header>Delan Azaban<span>i</span></header>
		<nav>
			<a href="/">~/</a> ::
			<a href="/about/">~/about/</a> ::
			<a href="/cv/">~/cv/</a> ::
			<!-- <a href="/labs/"> -->~/labs/<!-- </a> --> ::
			<a href="/contact/">~/contact/</a>
		</nav>
		{% if page.title != %}
			<h1>{{ page.title }}</h1>
		{% endif %}
		<article>

{{ content }}

		</article>
	</body>
</html>
