<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="preload" as="style" href="/asset/all.css">
		<link rel="stylesheet" href="/asset/all.css">
		<link rel="stylesheet" href="/asset/print.css" media="print">
		<title>
			{%- if page.title %}
				{{- page.title -}}{{- " " -}}|{{- " " -}}
			{%- endif -%}
			{{- site.title -}}
		</title>
		<link rel="preload" as="font" crossorigin href="/asset/-cmunrm.woff2">
		<link rel="preload" as="font" crossorigin href="/asset/-cmuntt.woff2">
		<link rel="preload" as="font" crossorigin href="/asset/-cmunti.woff2">
		<link rel="alternate" type="application/atom+xml" href="/feed/tag/home.xml">
		{% if page.date -%}
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ page.url | absolute_url }}">
		<meta property="og:title" content="{{ page.title }}">
		<meta name="twitter:title" content="{{ page.title }}">
		{% if page._preview_description -%}
		<meta property="og:description" content="{{ page._preview_description }}">
		<meta property="twitter:description" content="{{ page._preview_description }}">
		{% endif -%}{%- if page._preview_image -%}
		<meta property="og:image" content="{{ page._preview_image | absolute_url }}">
		<meta name="twitter:image" content="{{ page._preview_image | absolute_url }}">
		<meta name="twitter:card" content="summary_large_image">
		{%- else -%}
		<meta name="twitter:card" content="summary">
		{%- endif -%}
		{%- endif %}
	</head>
	<body>
		<header>Delan Azaban<span>i</span></header>
		<nav>
			<a href="/">~/</a> :
			<a href="/about/">~/about/</a> :
			<a href="/labs/">~/labs/</a>
		</nav>
		{% if page.title %}
			{% if page.date %}
				{% if page._link %}
					<h1><a href="{{ page._link }}">
						{{ page.title }}
					</a></h1>
				{% else %}
					<h1>{{ page.title }}</h1>
				{% endif %}
			{% else %}
				<h1>{{ page.title }}</h1>
			{% endif %}
		{% endif %}
		{% if page.date %}
		<p style="font-size: 75%;">
			<a href="{{ page.url }}"><time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%SZ' }}">
				{{- page.date | date: '%Y-%m-%d %H:%M %Z' -}}
			</time></a>
			{{- " " -}}{{ content | number_of_words }} words
			{{- " " -}}{{ content | number_of_words | divided_by: 180 }} min
			<i>
				{%- for tag in page.tags -%}
					{{- " " -}}{{- tag -}}
				{%- endfor -%}
			</i>
		{% endif %}
		<article>

{{ content }}

		</article>
		<footer>
		{% if page._footer_twitter %}
			<hr>
			<p>
				Did you love this? Hate this? Have questions or
				comments? <a href="{{ page._footer_twitter }}">Let me
				know</a> on Twitter!
		{% endif %}
		</footer>
	</body>
</html>
